html {
  margin: auto;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'sofia-light';
}

/* For 27-in screens */
@media screen and (min-width: 1820px) and (max-width: 2560px)  {
  .demoContainer {
    max-width: 75%;
    max-height: 950px;
    margin: 320px auto 120px;
  }

  #responseContainer {
    min-height: 300px;
  }

  #scroll-demo {
    top: 17.5rem;
    right: 1.75rem;
  }

  /* .demoLeft {
    display: flex;
    flex-direction: row;
  } */

  .demoRight {
    min-height: 950px;
  }

  .graphContainer {
    height: 55em;
    width: 90%;
  }

  .monaco-editor-container {
    height: 400%;
  }

}


/* for Laptops (Macbook 13.3) */
@media screen and (min-width: 800px) and (max-width: 1800px) {
  body {
    font-size: small;
  }

  Button {
    font-size: small;
  }
  
  .dropDownContainer {
    flex-direction: column;
    padding-bottom: 2.5rem;
  }

  .demoContainer {
    margin: 150px auto 120px;
    max-width: 80%;
    max-height: 1400px;
    min-height: 500px!important;
  }

  #scroll-demo {
    top: 8.5rem;
  }

  .demoRight {
    min-height: 1150px;
    /* display: flex;
    /* align-items: space-between; */
    /* justify-content: space-between;
    align-content: space-between;  */
  }

  .graphContainer {
    height: 70em;
    width: 90%;
    display: flex;
    /* align-items: space-between; */
    justify-content: space-between;
    align-content: space-between;
  }

  .monaco-editor-container {
    height: 400px;
  }

  #responseContainer {
    height: 400px!important;
  }

}





@font-face {
  font-family: 'sofia-light';
  src: url('../assets/sofiapro-light.woff2') format('woff2'),
       url('../assets/sofiapro-light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('../assets/Monaco.woff') format('woff');
}

body {
  display: flex;
  background-color: #d6d6d6;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}


#rendered {
  opacity: 1;
  transition: all 0.55s ease-in-out;
}



.main {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}


#sticky-nav {
  position: fixed;
  margin: 20px;
  transition: all 0.5s linear;
}


#renderedNav {
  opacity: 1;
  transition: all 1s linear;
}




.quell-bird-logo {
  color: #4e90d6;
  /* filter: brightness(0) invert(1); */
  position: relative;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}

.quell-bird-logo:hover {
  /* filter: invert(0); */
  transform: rotate(10deg);
  transition: transform 0.15s linear;
}

#quell-bird-pick {
  filter: invert(0);
  transform: rotate(10deg);
  transition: transform 0.35s ease-in-out;
}

.teamBtn {
  color: white;
  background-color: #474f57;
  border: none;
  font-family: 'sofia-light';
  font-size: medium;

}

.teamBtn:hover {
  color: #1876d1;
  cursor: pointer;
}

#alertDiv {
  position: fixed;
  bottom: 3vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 100;
  left: 45%;
  height: 70%;
  width: 20vh;
  margin-bottom: 0.1vh;
}

.demoContainer {
  justify-content: space-between;
  z-index: 2;
  /* width: 75%; */
  padding: 20px;
  border-radius: 10px;
  /* border: 2.25px solid #BBB; */
  box-shadow: 0px 15px 50px 0px rgba(0,0,0);
  background-color: #dedede;
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: y mandatory;
  scroll-behavior: smooth;
  height: 1200px;
  max-height: 3000px;
  /* transition: scroll-behavior, scroll-snap-align 0.5s ease-in-out; */
}

.cacheControlContainer {
  height: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: rgb(53, 49, 49);
  font-weight: bolder;
}

.graphContainer {
  margin-top: -5em; 
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.demoRight {
  align-items: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 10px;
}

/* this div is only to set a point on the HTML so we can scroll on click to the demo container */
#scroll-demo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#scroll-about {
  position: absolute;
  top: 12vh;
  left: 100vh;
  visibility: hidden;
}

#demo-header {
    height: 200px;
    position: relative;
}


.demoLeft {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#responseContainer {
  min-width: 95%;
  min-height: 50rem;
  max-height: 50rem!important;
  background-color: #474f57;
  overflow-y: scroll;
}


.demoRight {
  /* background-color: aquamarine; */
  height: 100%;
  width: 50%;
}



.dropDownContainer {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.MuiAlert-message {
  overflow: hidden!important;
}

.monaco-editor {
  font-size: 50px;
  z-index: 1;
  padding-top: 5px;
  padding-right: 5px;
  min-height: 30%;
}

.monaco-editor-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  position: relative;
  height: 70%;
  border: 2px solid rgba(0, 0, 0, .1);
  width: 85%;
  overflow: hidden!important;
  border-radius: 5px;
  margin-bottom: 5vh;
}

/*
Team Cards
*/
h2 {
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.TeamCard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: white;
  border: 2px solid #e9e9e9;
  border-top-left-radius: 45%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  font-size: 13px;
  margin-bottom: 5px;
  aspect-ratio:inherit;
  min-height: 600px;
  max-height: 600px;
}

#team-quell {
  display: block;
  margin: auto;
  margin-top: 10%;
  left: 50%;
  right: 50%;
  width: 60%;
  padding: 2%;
  margin-bottom: 5%;
}

#team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;;
  align-items: center;
  font-size: 18px;
}

.profile-pics {
  width: 55%;
  padding: 8px;
  max-width: 400px;
  margin-bottom: 3%;
  margin-top: 2%;
}

.profile-pics img {
  margin-bottom: 4%;
  max-width: 200px;
}

.team-member-name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 1px;
  font-size: 20px;
}
.social-icons {
  position: relative;
  top: 20px;
  bottom: 0px;
}
.social-icons img {
  margin-left: 40px;
  height: 32px;
  width: 32px;
}


/* About Section CSS */


.aboutContainer {
  margin-top: 155px;
  width: 90%;
  gap: 50px;
  display: flex;
  justify-content: center;
  height: 1000px;
}


.quell-banner-container {
  height: 100px;
  width: 40%;
}

.about-content-container {
  width: 50%;
  flex-direction: column;
  display: flex;
  font-size: 1.2rem;
  gap: 20px;
  padding: 10px;
}

#aboutHeading {
  font-size: 1.75rem;
  font-weight: bold;
}

.featureList {
  display: flex;
  gap: 5px;
  align-items:flex-start;
}

#featureItemHeading {
  font-weight: bolder;
}

#featureItemContent {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#about-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eggIcon {
  cursor: pointer;
  transition: all 0.55s ease-in-out;
}


.eggIcon:hover {
  transform: scale(1.1);
  transition: all 0.35s ease-in-out;
}

#quell-cache-svg {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  right: 30vh;
  z-index: 0;
  opacity: .5;
}

.footerContainer {
  min-height: 60px;
  max-height: 60px;
  margin-bottom: 0;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: #474f57;
  color: #d6d6d6;
  padding: 0px 10px;
}

.medium-icon {
  max-height: 25px;
  margin-left: 10px;
}


.getstartedContainer {
  gap: 2.5px;
}


.getstartedContainer:hover {
  gap: 50px;
  transition: gap 0.5s ease-in-out;
}

#get-started-link:hover {
  color: #1876d1;
  cursor: pointer;
}

#getstarted-text:hover {
  color: #1876d1;
  cursor: pointer;
}

#feature5:hover #getstarted-text {
  color: #1876d1;

}

#getstarted {
  gap: 2.5px;
  transition: gap 0.25s linear;
}

#feature5:hover #getstarted {
  gap: 20px;
  transition: gap 0.55s ease-in-out;
}

#feature5:hover .arrowicon {
  color: #1876d1;
}

